* {
    box-sizing: border-box;
}
.container-lg{
    display: flex;
	background-color: rgb(255,255,255,.95);
	opacity: 1;
}
.sticky-top{
	margin-right: 10px;
	margin-left: 10px;
	height: 0;
    position: sticky;
	top: 10px;
	z-index: 1;
	
}
.abc{
	display: flex;
	width: 40%;
}
ul {
    margin-top: 15px;
    margin-bottom: 0px;
}
.bd1{
	display: flex;
}
.img{
	object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
