*{
    font-family: 'Roboto', sans-serif;
} 
@media (max-width:1023px)
{
    .hottline{
        display: none;
    }
    .hidden-cart{
        display: none;
    }
}
.hottline{
    color: #aaa;
    text-transform:uppercase;
}
.tophead a:hover{
    color: black;
}
.tophead .items{
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
}
.bothead{
    display: flex;
    justify-content: space-between;
} 
.bothead img{
    width: 144px;
    height: 60px;
}
.bothead a{
    line-height: 60px;
    color: #000;
}
.middle-img img{
    margin-left:110px;
}
@media (max-width:1023px)
{
    .middle-img img{
        margin: 0;
    }
}
.cart-icon :hover{
    color: red;
}
#nav-mobile-icon-wrapper{
    line-height: 60px;
    display: none;
}
@media (max-width:1023px)
{
    #nav-mobile-icon-wrapper
    {
        display: block;
    } 
    #main-menu{
        display: none;
    }
}
#main-menu{
    height: 46px;
    background-color: black;
    text-align: center;
}
.navb,.sub-nav,
.subb-nav-1,.subb-nav-2,
.subb-nav-3,.subb-nav-4
{
    list-style-type: none;
}
.navb > li >a{
    color: #fff;
    text-transform: uppercase;
}
.navb > li{
    display: inline-block;
    font-weight: bold;
}
.navb li{
    position: relative;
}
.navb li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
.navb > li:hover > a,
.sub-nav li:hover 
{
    color: #000;
    background-color:#ccc;
}
.navb .sub-nav a:hover{
    color:#000;
}
.navb .sub-nav {
    top:46px;
    left:0;
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 220px;
    padding: 0;
}
.navb .sub-nav a{
    color:#fff;
    padding: 0 12px;
}
.navb .sub-nav li{
    border: 1px solid #ccc;
}
.navb li:hover .sub-nav
{
    display: block;
}
.hidden-items-1 li,.hidden-items-2 li,
.hidden-items-3 li,.hidden-items-4 li
{
    position: relative;
}
.hidden-items-1 .subb-nav-1{
    display: none;
    position: absolute;
    background-color: #000;
    right:-265px;
    top:47px;
    padding:0;
}
.hidden-items-2 .subb-nav-2{
    display: none;
    position: absolute;
    background-color: #000;
    right: -246px;
    top: 96px;
    padding:0;
}
.hidden-items-3  .subb-nav-3{
    display: none;
    position: absolute;
    background-color: #000;
    right: -221px;
    top: 144px;
    padding:0;
}
.hidden-items-4  .subb-nav-4{
    display: none;
    position: absolute;
    background-color: #000;
    right: -144px;
    top: 192px;
    padding:0;
}
.hidden-items-1:hover .subb-nav-1{
    display: block;
}
.hidden-items-2:hover .subb-nav-2{
    display: block;
}
.hidden-items-3:hover .subb-nav-3{
    display: block;
}
.hidden-items-4:hover .subb-nav-4{
    display: block;
}
#main-menu .navb i{
    color: #fff;
    margin-left:10px;
}
#main-menu .sub-nav i{
    color: #fff;
    position: absolute;
    right:5px;
    top:15px
}
#slider{
    margin-bottom: 50px;
}
#slider  img{
    width: 100%;
    height: auto;
    display: block;
}
#contact{
    margin-bottom: 30px;
}
#contact .contact-address{
    margin-bottom: 30px;
}
#contact .contact-infor h2{
    text-transform: uppercase;
    margin: 20px 0 10px !important;
}
#contact .contact-address a{
    text-decoration: none;
    color: #000;
}
#contact .contact-more button{
    text-transform: uppercase;
    margin-right: 10px;
    padding:10px 18px;
    border-radius: 0;
}
#contact .contact-more button:hover{
    background-color: #fff;
    color: #000;
}
@media (max-width:1023px)
{
    #contact .contact-more button{
        font-size: 10px;
    }
}
#home-images img{
    width: 100%;
}
#home-images .images-items{
    margin-bottom: 15px;
}
#text-home{
    font-size: 24px;
    font-weight: bold;
}
@media (max-width:739px){
    #text-home p{
        font-size: 15px;
    }
}
.social-information{
    background-color:#F8F8F8;
    padding:25px 0;
} 
.social-information h3{
    margin: 20px 0 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.social-information p{
    margin: 0 25px;
}
.social-information ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
}
.social-information ul li{
    list-style-type: none;
    margin: 0 20px;
}
.social-information ul li a{
    width: 48px;
    height: 48px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 50%;
}
.social-information ul li a i{
    color: #fff;
    width: 18px;
    height: 16px;
    text-align: center;
} 
.social-information ul :hover a{
    background-color:#fff;
}  
.social-information ul :hover i{
    color:#000;
}
@media (min-width:740px) and (max-width:1023px)
{
    .social-information p{
        margin: 0 0 10px 0;
    }
    .social-information h3{
        font-size:20px !important;
    }
}
 @media (max-width:739px)
{
    .social-information p{
        margin: 0 0 10px 0;
        font-size: 12px;
    }
    .social-information{
        flex-direction: column;
    }
    .social-information h3{
       font-size: 15px !important;
        margin: 15px 0 25px;
    }
    .social-information-right{
        padding-bottom: 20px;
    }
    .social-information-right{
        font-size: 12px;   
    }
} 
#footer-1{
    background-color: #000;
    padding: 20px 0;
}
#footer-1 ul{
    list-style-type: none;
    padding:0;
}
#footer-1 a{
    text-decoration: none;
    color:#CBCBCB;
    font-size: 11px;
}
#footer-1 .heading-footer{
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
}
#footer-1 i{
    color: #fff;
    padding-right:5px;
    font-size: 11px;
}
#footer-1 a:hover{
    color:#fff ;
}
@media (max-width:739px)
{
    .footer-mobile-1{
        height: 80px;
    }
    .footer-mobile-2{
       padding:10px 0;
    }

}
#footer-2 p{
    text-align: center;
    margin-top:20px;
    font-weight: 300;
}
#footer-2 ul{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
#footer-2 ul li{
    list-style: none;
    margin-right: 10px;
} 
@media (max-width:739px)
{
    #footer-2 p{
        font-size:13px;
    }
}
#backtop{
    width: 40px;
    height: 40px;
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    position: fixed;
    right:20px;
    bottom:20px;
    cursor: pointer;
}
#nav-mobile{
   position: fixed;
   top:0;
   left:0;
   bottom:0;
   width: 340px;
   max-width: 100%;
   background-color: #fff;
   transform: translateX(-100%);
   transition:transform linear 0.3s;
   background-color: #000;
}
.nav-mobile-logo{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.nav-mobile-logo img{
    width: 50%;
}
.nav-mobile-list{
    margin-top:24px;
    list-style: none;
    padding:0;
}
.nav-mobile-list li{
    border: 1px solid #fff;
}
.nav-mobile-link{
    text-decoration: none;
    color: #000;
    display: block;
    padding:12px 0;
    font-size:20px;
    color:#fff;
    margin-left: 10px;
}
.nav-mobile-link:hover{
    color: #fff;
}
.nav-mobile-close{
    position: absolute;
    font-size:20px;
    color: red;
    top:10px;
    right:10px;
}
.nav-overlay{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(0, 0, 0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav-input:checked ~ .nav-overlay{
    display: block;
}
.nav-input:checked ~ #nav-mobile{
    transform: translateX(0%);
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width:739px)
{
    #nav-mobile{
        width: 260px;
    }
    .nav-mobile-link{
        font-size: 15px;
    }
}
@media (max-width:1023px)
{
    #nav-mobile{
        position: fixed;
    }
}
#icon-down-nav-mobile{
    cursor: pointer;
    color: #fff;
    padding:10px;
}
#sub-nav-mobile{
    display: none;
    padding:0;
    list-style-type: none;
}
#sub-nav-mobile a{
    text-decoration: none;
    color:#fff;
    margin:10px;
}
#sub-nav-mobile li{
    height: 44px;
}
#sub-nav-mobile i{
    color: #fff;
    padding:10px;
}
.sub-nav-mobile-items {
   margin-top:10px;
}
.subb-nav-mobile-1,.subb-nav-mobile-2,
.subb-nav-mobile-3,.subb-nav-mobile-4{
    display: none;
    list-style-type: none;
    padding: 0;
}
.subb-nav-mobile-1 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-2 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-3 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-4 a{
    display: block;
    margin: 0;
    height: 24px;   
}


