@media (max-width:1023px)
{
    .hottline{
        display: none;
    }
    #hidden-cart{
        display: none;
    }
}
.hottline{
    color: #aaa;
    text-transform:uppercase;
}
.tophead a:hover{
    color: black;
}
.tophead .items{
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
}
.bothead{
    display: flex;
    justify-content: space-between;
} 
.bothead img{
    width: 144px;
    height: 60px;
}
.bothead a{
    line-height: 60px;
    color: #000;
}
.middle-img img{
    margin-left:110px;
}
@media (max-width:1023px)
{
    .middle-img img{
        margin: 0;
    }
}
.cart-icon a{
    text-decoration: none;
}
.cart-icon a strong{
    text-transform: uppercase;
}
.cart-icon :hover{
    color: red;
}

#nav-mobile-icon-wrapper{
    line-height: 60px;
    display: none;
}
@media (max-width:1023px)
{
    #nav-mobile-icon-wrapper
    {
        display: block;
    } 
    #main-menu{
        display: none;
    }
}
#main-menu{
    height: 46px;
    background-color: black;
    text-align: center;
}
.navb,.sub-nav,
.subb-nav-1,.subb-nav-2,
.subb-nav-3,.subb-nav-4
{
    list-style-type: none;
}
.navb > li >a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navb > li{
    display: inline-block;
}
.navb li{
    position: relative;
    z-index: 2;
}
.navb li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
.navb > li:hover > a,
.sub-nav li:hover 
{
    color: #000;
    background-color:#ccc;
}
.navb .sub-nav a:hover{
    color:#000;
}
.navb .sub-nav {
    top:46px;
    left:0;
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 220px;
    padding: 0;
}
.navb .sub-nav a{
    color:#fff;
    padding: 0 12px;
}
.navb .sub-nav li{
    border: 1px solid #ccc;
}
.navb li:hover .sub-nav
{
    display: block;
}
.hidden-items-1 li,.hidden-items-2 li,
.hidden-items-3 li,.hidden-items-4 li
{
    position: relative;
}
.hidden-items-1 .subb-nav-1{
    display: none;
    position: absolute;
    background-color: #000;
    right:-260px;
    top:47px;
    padding:0;
}
.hidden-items-2 .subb-nav-2{
    display: none;
    position: absolute;
    background-color: #000;
    right: -235px;
    top: 96px;
    padding:0;
}
.hidden-items-3  .subb-nav-3{
    display: none;
    position: absolute;
    background-color: #000;
    right: -209px;
    top: 144px;
    padding:0;
}
.hidden-items-4  .subb-nav-4{
    display: none;
    position: absolute;
    background-color: #000;
    right: -139px;
    top: 192px;
    padding:0;
}
.hidden-items-1:hover .subb-nav-1{
    display: block;
}
.hidden-items-2:hover .subb-nav-2{
    display: block;
}
.hidden-items-3:hover .subb-nav-3{
    display: block;
}
.hidden-items-4:hover .subb-nav-4{
    display: block;
}
#main-menu .navb i{
    color: #fff;
    margin-left:10px;
}
#main-menu .sub-nav i{
    color: #fff;
    position: absolute;
    right:5px;
    top:15px
}
/* middle-page */
.headline-top{
    margin-top: 20px;
}
.headline-top a{
    text-decoration: none;
    color: #000;
}
.headline-top:hover a{
    color: #000;
}
h1{
    font-size: 30px !important;
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
}
#list{
    position: relative;
}
#list button{
    text-transform: uppercase;
}
#bot-list{
    display: none;
}
.size{
    margin-left: 20px;
}
#option-brand,#option-size{
    margin-top: 10px;
    display: none;
}
#option-brand,#option-size{
    background-color:#fff;
    border: 1px solid #ccc;
    width: 100px;
}
#option-brand ul,#option-size ul{
    list-style-type: none;
    padding: 0;
}
#option-brand ul li a,#option-size ul li a{
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.products{
    list-style-type:none;
    padding:0;
}
.products-items .product-thumb img{
    max-width: 100%;
    height: auto;
}
.product-info{
    margin:20px 0;
    text-align: center;
}
.product-info a{
    text-decoration: none;
    color: black;
}
.product-info a:hover{
    color: black;
}
.product-price{
    font-weight: bold;
}
.products-items .add{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    display: block;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    bottom:-50px;
    transition: 0.25s ease-in-out;
}
.products-items .products-top{
    position: relative;
    overflow: hidden;
}
.products li :hover a.add{
    bottom: 0px;
}
.products li :hover img{
    filter: opacity(50%);
 }
 .add button{
    color: #fff;
    background-color: #000;
    font-size: 15px;
}
.switch{
   display: flex;
   justify-content: center;
}
/* footer */
#footer-1{
    background-color: #000;
    padding: 20px 0;
}
#footer-1 ul{
    list-style-type: none;
    padding:0;
}
#footer-1 a{
    text-decoration: none;
    color:#CBCBCB;
    font-size: 11px;
}
#footer-1 .heading-footer{
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
}
#footer-1 i{
    color: #fff;
    padding-right:5px;
    font-size: 11px;
}
#footer-1 a:hover{
    color:#fff ;
}
@media (max-width:739px)
{
    .footer-mobile-1{
        height: 80px;
    }
    .footer-mobile-2{
       padding:10px 0;
    }

}
#footer-2 p{
    text-align: center;
    margin-top:20px;
    font-weight: 300;
}
#footer-2 ul{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
#footer-2 ul li{
    list-style: none;
    margin-right: 10px;
} 
@media (max-width:739px)
{
    #footer-2 p{
        font-size:13px;
    }
}
#backtop{
    width: 40px;
    height: 40px;
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    position: fixed;
    right:20px;
    bottom:20px;
    cursor: pointer;
}
#nav-mobile{
   position: fixed;
   top:0;
   left:0;
   bottom:0;
   width: 340px;
   max-width: 100%;
   background-color: #fff;
   transform: translateX(-100%);
   transition:transform linear 0.3s;
   background-color: #000;
}
.nav-mobile-logo{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.nav-mobile-logo img{
    width: 50%;
}
.nav-mobile-list{
    margin-top:24px;
    list-style: none;
    padding:0;
}
.nav-mobile-list li{
    border: 1px solid #fff;
}
.nav-mobile-link{
    text-decoration: none;
    color: #000;
    display: block;
    padding:12px 0;
    font-size:20px;
    color:#fff;
    margin-left: 10px;
}
.nav-mobile-link:hover{
    color: #fff;
}
.nav-mobile-close{
    position: absolute;
    font-size:20px;
    color: red;
    top:10px;
    right:10px;
}
.nav-overlay{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(0, 0, 0,0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav-input:checked ~ .nav-overlay{
    display: block;
}
.nav-input:checked ~ #nav-mobile{
    transform: translateX(0%);
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media (max-width:739px)
{
    #nav-mobile{
        width: 260px;
    }
    .nav-mobile-link{
        font-size: 15px;
    }
}
@media (max-width:1023px)
{
    #nav-mobile{
        position: fixed;
    }
}
#icon-down-nav-mobile{
    cursor: pointer;
    color: #fff;
    padding:10px;
}
#sub-nav-mobile{
    display: none;
    padding:0;
    list-style-type: none;
}
#sub-nav-mobile a{
    text-decoration: none;
    color:#fff;
    margin:10px;
}
#sub-nav-mobile li{
    height: 44px;
}
#sub-nav-mobile i{
    color: #fff;
    padding:10px;
}
.sub-nav-mobile-items {
   margin-top:10px;
}
.subb-nav-mobile-1,.subb-nav-mobile-2,
.subb-nav-mobile-3,.subb-nav-mobile-4{
    display: none;
    list-style-type: none;
    padding: 0;
}
.subb-nav-mobile-1 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-2 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-3 a{
    display: block;
    margin: 0;
    height: 24px;
}
.subb-nav-mobile-4 a{
    display: block;
    margin: 0;
    height: 24px;   
}