*{
    font-family: 'Roboto', sans-serif;
} 
.container{
     max-width: 1200px !important;
}
.tophead a:hover{
    color: black;
}
.tophead .items{
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
}
.bothead img{
    width: 144px;
    height: 60px;
}
.bothead a{
    line-height: 60px;
    color: #000;
}
#main-menu ul {
    list-style: none;
}
#main-menu ul li{
    padding: 0 23px;
}
#main-menu ul li a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
}
.products{
    display: flex;
}
.products i{
    padding: 10px 10px 10px 0;
}
#main-menu .nav{
    display: relative;
}
#main-menu .subnav{
    position: absolute;
    display: none;
}
#main-menu ul .nav:hover .products{
    background-color: #000;
}
#main-menu ul .nav .products:hover a{
    color: #fff;
}
#main-menu ul .nav .products:hover i{
    color: #fff;
}
.slider img{
    height: 500px !important;
}
.carousel-caption{
    margin-bottom: 100px;
}
h1{
    text-transform: uppercase;
}
.carousel-caption p{
    font-size: 25px;
}
.main-img img{
    width: 100%;
    margin-top: 40px;
}
.main-img h2{
    margin-top:70px;
    text-transform: uppercase;
}
.main-img p{
    font-size: 24px;
    font-family:'eurostilenextproultralt';
}
.main-img address{
    font-size: 20px;
    font-family:'eurostilenextproultralt' ;
}
.main-img address a{
    text-decoration: none;
    color: black;
}
.main-img button{
    margin-right: 20px;
}
.main-img button a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;  
}
.sub-img img{
    margin-top:40px ;
}
.about-home{
    margin-top: 30px;
}
.about-home p{
    font-size:24px;
    font-family:'helveticaneue-ultralight';
    font-weight: bold;
    font-family: 'Nuosu SIL', serif;
}
.top-footer {
    background-color: #f8f8f8;
    height: auto;
    padding-bottom: 50px;
}
.top-footer .row {
    background-color: #f8f8f8;
}
.top-footer h3{
    text-transform: uppercase;
    text-align: center;
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.top-footer p{
    text-align: center;
    margin: 10px 100px 0 100px;
    font-size: 14px;
}
.top-footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
}
.top-footer ul li{
    list-style: none;
    margin: 0 20px;
}
.top-footer ul li a{
    width: 48px;
    height: 48px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 50%;
}
.top-footer ul li a i{
    color: #fff;
    width: 18px;
    height: 16px;
    text-align: center;
} 
.top-footer ul :hover a{
    background-color:#fff;
}  
.top-footer ul :hover i{
    color:#000;
}
.bot-footer{
     background-color: #000;
     height: auto;
}
.bot-footer .row{
    background-color: #000;
}
.bot-footer h6{
    /* margin-left: 50px; */
    margin-top: 50px;
    color: #fff;
    
}
.bot-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight:200; 
    /* margin-left: 50px;*/
} 
.bot-footer .infor{
    margin-left:50px;
    margin-bottom:40px;
}
.end-page p{
    text-align: center;
    margin-top:20px;
    font-weight: 300;
}
.end-page ul{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.end-page ul li{
    list-style: none;
    margin-right: 10px;
}