.container{
    display: flex;
    justify-content: end;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid #000;
}
.customer-links{
    display: flex;
    list-style: none;
    padding-left: 50px;
    margin: 15px;
    margin-bottom: 10px;
}
.topbar .topbar_right .header-panel ul.customer-links li {
    float: left;
    margin: 0 0 0 25px;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
}
.topbar .topbar_right li a {
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
}
.topbar .topbar_right .header-panel ul.customer-links li .dropdown-menu {
    text-transform: none;
    left: auto;
    padding: 14px 20px;
    margin: 0;
    box-shadow: none;
}